doc/*
node/*
.idea/*
testOutput/*
dist/*
.tmp/*
.DS_Store
.grunt
_SpecRunner.html
.sass-cache/*
version
node_modules/*
*.log
nodejs/weekly-stats/node_modules/*
nodejs/weekly-stats/config/dev.js
nodejs/weekly-stats/log/*
test/coverage/*
.gitignore
